                /* Course Body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courseContainer{
    margin: 0.5rem 0rem;
    margin-bottom: 1rem;
}

.courses h3::after{
    content: "";
    display: block;
    margin: 0 auto;
    box-shadow: var(--shadow);
    background: var(--primary);
    width: 655px;
    height: 2px;
}

.courses h3{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

div .offer{
    text-align: center;
    background: var(--medium-light);
    border: 1px solid rgba(117, 117, 117, 0.493);
    box-shadow: var(--shadow);
    color: var(--dark);
    margin: 3rem auto;
}

.offer h4{
    padding: 0.3rem 0rem;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.mcat-ecat{
    color: var(--primary);
    text-shadow: 1px 1px 2px rgb(114, 114, 114);
}

.offer span, .offer h6, .offer p{
    text-transform: uppercase;
}

.offer h6{
    font-size: 20px;
}

.offer span, .offer p{
    font-weight: 600;
    font-size: 14px;
}

.courses #courseHeading{
    font-family: 'Righteous', sans-serif;
    text-shadow: 1px 1px 2px #494949 ;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.courses .row{
    margin: 0.5rem 0.5rem;
}

.compCols h5{
    font-family: 'DM Mono', sans-serif;
    text-transform: uppercase;
    padding: 0.5rem 0rem;
    text-align: center;
    font-size: 16px;
    background: var(--medium-light);
    box-shadow: 0px 0px 3px #494949 ;
}

.compCols ul li{
    font-family: 'DM Mono', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 0.5rem;
    list-style: none;
}

#listType li:before {
    content: "\00BB \0020";
}