.leaderShip{
    margin-top: 0.2rem;
    background: var(--light);
}

.leaderShip h3::after{
    content: "";
    display: block;
    margin: 0 auto;
    box-shadow: var(--shadow);
    background: var(--primary);
    width: 660px;
    height: 2px;
}

.leaderShip h3{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgba(110, 110, 110, 0.979);
}
.leaderShip h4{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0rem;
   text-shadow: 0px 1px 2px rgba(110, 110, 110, 0.979);
}

.teacherCards .card{
    width: 500px;
    background: var(--medium-light);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.teacherCards{
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherCards .card, .teacherCards .card img{
    box-shadow: var(--shadow-light);
}

.icon-shadow{
    box-shadow: var(--shadow-light);
    border-radius: 5px;
    padding: 0.5rem 0.2rem;
}

.card-title{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}

.card-text{
    font-family: 'DM Mono';
    font-size: 12px;
}