.staff{
    margin-top: 0.5rem;
    background: #e5e5e549;
}

.staff h3::after{
    content: "";
    display: block;
    margin: 0 auto;
    box-shadow: var(--shadow);
    background: var(--primary);
    width: 660px;
    height: 2px;
}

.staff h3{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgba(110, 110, 110, 0.979);
}
.staff h4{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0rem;
   text-shadow: 0px 1px 2px rgba(110, 110, 110, 0.979);
}

.cardStaff{
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    
}

.cardStaff .card{
    margin-bottom: 1rem;
    margin-left: 6rem;
    width: 380px;
    text-align: center;
}
